* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #e5e5e5;
}
header {
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.container {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu-reponsivo {
    display: none;
}
a {
    text-decoration: none;
    color: #2d2d2d;
}
a:hover {
    color: #038a98;
}
nav,
ul,
.rede-social,
.flex {
    display: flex;
    align-items: center;
    text-align: left;
}
.flex-jb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.midia {
    padding: 0px 2px;
    margin: 0px 7px;
}
li {
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-align: left;
    padding: 0px 2px;
    margin: 0px 7px;
    font-weight: 500;
}
.btn-menu {
    padding: 7px 25px;
    background-color: #70c217;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    border: none;
    font-weight: 400;
    color: #fff;
}
.btn-menu:hover {
    background-color: #038a98;
    color: #fff;
}
main {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.caixa-texto {
    padding: 50px;
}
h1 {
    color: #038a98;
    font-size: 2.8em;
    margin-top: 90px;
}
h2 {
    color: #2d2d2d;
    padding-bottom: 7px;
    font-weight: 800;
    font-size: 2.2em;
}
h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #038a98;
    margin: 7px auto;
}
.contato {
    font-size: 35px;
    font-weight: 800;
}
.contato::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #038a98;
    margin: 7px;
}
.bg-claro {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 50px 0px 0px 0px;
}
#depoimentos {
    background-image: url("imagens/bg-depoimentos.png");
    width: 100%;
    height: 100%;
}
p {
    font-weight: 500;
}
.coluna {
    display: flex;
    flex-direction: column;
}
.texto-selecao {
    text-align: center;
}
.box-claro {
    width: 230px;
    height: 270px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 0.7em #cccccc;
    margin: 25px 9px 0px 9px;
}
#sobre {
    padding-bottom: 50px;
}
.link-footer {
    font-weight: 500;
    padding-bottom: 5px;
    color:#fff
}
.link-footer:hover {
    color: #70c217;
}
.box-claro-2 {
    width: 220px;
    height: 180px;
    padding: 10px 0px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 0.8em #cccccc;
}
.blue {
    max-width: 80%;
    margin: 8px auto;
    background-color: #0fb2e3;
    color: #fff;
}
.blue-circulo {
    padding: 4px 0px 1px 0px;
}
.box-claro-2 img {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}
.flip-container {
    width: 220px;
    height: 180px;
    margin-top: 15px;
    perspective: 1000px;
}
.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-container:hover .flipper {
    transform: rotateY(180deg);
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}
section {
    padding-top: 20px;
}
#circulo-um {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4e4e4e;
    margin: 5px;
}

#circulo-dois {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 5px;
}
#etapa-dois {
    display: none;
}
.box-claro-3 {
    width: 320px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 0.8em #cccccc;
    margin: 10px 10px;
}
.titulo-claro-3::before {
    content: "";
    padding: 0px 2px;
    margin-right: 5px;
    background-color: #70c217;
}
.subtitulo-claro-3 {
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
}
.bg-claro-2 {
    background-color: #ffffff;
    background-image: url("imagens/bg-depoimentos.png") no-repeat;
    width: 100%;
    background-position: center;
    padding: 50px 0px 0px 0px;
}
.box-claro-4 {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 0.8em #cccccc;
    margin: 20px auto;
}
.base {
    width: 25%;
}
.box-claro-5 {
    width: 45%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 0.8em #cccccc;
    margin: 0px auto 30px auto;
}
form {
    width: 500px;
}
input {
    width: 100%;
    border-radius: 15px;
    border: 1px solid gray;
    color: gray;
    padding: 15px 8px;
    margin: 5px;
}
.btn-form {
    width: 150px;
    padding: 15px 25px;
    background-color: #70c217;
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    border: none;
    font-weight: 400;
    margin: 10px 0px 25px 0px;
    color: #fff;
}

footer {
    background-color: #038a98;
    color: #fff;
}

.marcas-mobile {
    display: none;
}

@media (max-width: 700px) {
    .box-claro-2 {
        padding: 50px 0px;
    }
    .menu-desktop,
    .marcas-desktop {
        display: none;
    }
    .marcas-mobile {
        display: flex;
        padding: 10px 0px;
    }
    .menu-reponsivo {
        display: block;
    }
    h1 {
        width: 100%;
        font-weight: 800;
        margin-top: 0px;
    }
    main img,
    #abrir {
        display: none;
    }
    .box-claro,
    .box-claro-2,
    .box-claro-3,
    .box-claro-5 {
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
    .responsivo {
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
    }
    input {
        width: 100%;
    }
    form {
        width: 100%;
        margin-top: 10px;
    }
    .base {
        width: 90%;
        padding-bottom: 10px;
    }
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
    }
    ul {
        padding-top: 80px;
    }
    .modal li {
        padding: 10px;
    }
    .modal li a {
        color: #fff;
        z-index: 2;
        padding: 30px;
        font-size: 35px;
    }
    .modal li a:hover {
        color: #70c217;
    }
    #fechar {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        color: #fff;
        font-size: 35px;
    }
    .midia {
        margin-top: 30px;
    }
}
